<div id="warning-message" class="container pt-5 pb-5">
    <h4 class="pt-4 text-center">Gire su dispositivo móvil en forma horizontal para ver el contenido</h4>
</div>
<div class="contenedor">
    <main class="container pt-4 pb-5">
        <div class="row pt-4 position-relative" cdkDropListGroup>
            <div class="col-9 position-relative">
                <div class="banderas mb-2 position-absolute"
                    style="z-index: 5; right: 0; top: 0; margin-top: -40px;">
                    <button class="btn me-3 p-0" style="z-index: 10;">
                        <img src="../../../assets/bandera-inglesa-header.png" class="bandera-b w-100 p-0"
                            alt="Bandera inglesa">
                    </button>
                    <button class="btn p-0" style="z-index: 10;">
                        <img src="../../../assets/bandera-espanola-header.png" class="bandera-b w-100 p-0"
                            alt="Bandera española">
                    </button>
                </div>
                <h1 class="text-center fs-4" style="color:#2B6EAB; font-weight: 700; margin: 0;">IDR - Demo en Línea
                </h1>
                <h2 class="text-center mb-2 fs-6" style="color:#2B6EAB; font-weight: 700;">Interactive Digital Response
                </h2>
                <div class="d-flex justify-content-between w-100 mb-3">
                    <button type="button" class="btn btn-sm botonHeader " data-bs-toggle="modal"
                        data-bs-target="#modalTutorial" style="background-color: #F2F2F2; border: solid 2px gray;"
                        (click)="reproduccionVideo(1)">Video
                        Tutorial</button>
                    <button type="button" class="btn btn-sm me-3 botonHeader"
                        style="background-color: #F2F2F2; border: solid 2px gray;" (click)="cerrarSesion()">Cerrar
                        sesión</button>
                </div>

                <h5>1.- Seleccione el formato del Menú gráfico (haciendo clic sobre la imagen y aparecerá en el móvil a
                    la
                    derecha):
                </h5>
                <section class="bloques">
                    <div class="btn " (click)="bloque(1)">
                        <img src="../../../assets/options-app/option1.png" alt="option 1" draggable="false">
                        <p>Botones de<br />barra</p>
                    </div>
                    <div class="btn" (click)="bloque(2)">
                        <img src="../../../assets/options-app/option2.png" alt="option 2" draggable="false">
                        <p>Botones<br />cuadrados</p>
                    </div>
                    <div class="btn" (click)="bloque(3)">
                        <img src="../../../assets/options-app/option3.png" alt="option 3" draggable="false">
                        <p>Botones<br />mixtos</p>
                    </div>
                    <div class="btn" (click)="bloque(4)">
                        <img src="../../../assets/options-app/option4.png" alt="option 4" draggable="false">
                        <p>Botones con<br />imágenes y texto</p>
                    </div>
                    <div class="mt-5 fs-6 texto-boton-4 text-center">
                        <p>Se muestran en<br />color los botones<br />que estarán<br />activos</p>
                    </div>
                </section>


                <h5 class="mt-2">2.- Seleccione cuatro botones para el formato del Menú gráfico (Seleccione el color y
                    de
                    doble clic al
                    botón
                    que quiera cambiarle el color):
                    <br />
                    Arrastre el botón seleccionado hasta la posición en que lo quiera ubicar en el menú gráfico.
                </h5>

                <div class="row">
                    <div class="d-flex align-items-center mb-3">
                        <label for="exampleColorInput" id="labelexampleColorInput" class="form-label me-3">Seleccione el
                            color del botón </label>
                        <input type="color" class="form-control form-control-color" id="exampleColorInput"
                            value="#0000C8" (change)="cambioColor($event)" title="Choose your color">
                    </div>
                </div>

                <section class="btns-dragables d-flex gap-1 mb-3">

                    <!-- Bloque 1 Dragable -->
                    <div class="col-3 d-flex justify-content-center dragable-1-btn">

                        <div cdkDropList id="cdk-drop-list-0" [cdkDropListData]="btnDrag1" class="d-flex flex-column"
                            style="width: 100%; ">
                            <div *ngFor="let boton of this.btnDrag1; let i = index" class="m-2" style="min-width: 90px;"
                                cdkDrag>
                                <!--80px-->
                                <button type="button" (dblclick)="datoBoton(boton, i, $event)"
                                    [ngStyle]="{'background-color': boton.bg, 'color': boton.color }"
                                    class="btn w-100 p-0 fs-6 boton-rectangulo dropBtnRectangulo">
                                    <img [src]="boton.imagen"
                                        [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                        style="width: 18px; float: left; margin-left: 18%; margin-right: 5px;"
                                        class="botones-alineados-padding" alt="icono">
                                    <!-- float: left; margin-left: 15%;" class="botones-alineados-padding" -->
                                    <!-- <span style="float: left; margin-left: 3%;" class="span-alineados-padding" >{{boton.texto}}</span> -->
                                    <span style="float: left;">{{boton.texto}}</span>
                                </button>
                            </div>
                        </div>

                    </div>


                    <!-- Bloque 2 Dragable -->
                    <div [ngClass]="900 >= scrWidth  ? 'col-2' : 'col-3'"
                        class=" d-flex justify-content-center mb-3 bordes-btn-cuadrado">

                        <div class="gap-1 mb-3 mt-2" cdkDropListOrientation="vertical" cdkDropList id="cdk-drop-list-1"
                            [cdkDropListData]="btnDrag2"
                            style="display: grid; grid-template-columns: 1fr 1fr; width: 100%;">
                            <div *ngFor="let boton of this.btnDrag2; let i = index"
                                style="height: 65px; width: 65px; margin: 0 auto;" cdkDrag class="text-center">
                                <button type="button" (dblclick)="datoBoton(boton, i, $event)"
                                    [ngStyle]="{'background-color': boton.bg, 'color': boton.color }"
                                    style="height: 65px; width: 65px;" class="btn w-100 p-0 dropBtnCuadrado">
                                    <!-- <i [ngClass]="boton.icon" [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"></i> -->
                                    <!-- <img [src]="boton.icon" [ngStyle]="{'background-color': boton.bg, 'color': boton.color}" style="width: 80%;" alt=""> -->
                                    <img [src]="boton.imagen2"
                                        [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                        style="width: 70%;" alt="">
                                </button>
                                <p class="form-text p-0 m-0 dropBtnCuadradoTexto">{{boton.texto}}</p>
                            </div>
                        </div>

                    </div>


                    <!-- Bloque 3 Dragable -->
                    <div class="col-4 d-flex justify-content-center mb-3 dragable-3-btn">

                        <div class="gap-1 mb-3 mt-2" cdkDropListOrientation="vertical" cdkDropList id="cdk-drop-list-2"
                            [cdkDropListData]="btnDrag3"
                            style="display: grid; grid-template-columns: 1fr 1fr 1fr; width: 100%;">
                            <div *ngFor="let boton of this.btnDrag3; let i = index"
                                style="height: 140px; width: 85px; margin: 0 auto;" cdkDrag>
                                <button type="button" (dblclick)="datoBoton(boton, i, $event)"
                                    [ngStyle]="{'background-color': boton.bg, 'color': boton.color }"
                                    style="height: 140px; " class="btn w-100 p-0 dropBtnRectanguloVertical">
                                    <!-- <i [ngClass]="boton.icon" [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"></i> -->
                                    {{boton.texto}}
                                    <img [src]="boton.imagen3"
                                        [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                        style="width: 60%;" alt="">
                                </button>
                            </div>
                        </div>

                    </div>

                </section>



                <section class="mb-5">

                    <h5>3 - Seleccione cuatro respuestas (una para cada botón seleccionado):</h5>

                    <div class="col-12 d-flex justify-content-center">
                        <div cdkDropList id="cdk-drop-list-3" [cdkDropListData]="respuestasDrag"
                            cdkDropListOrientation="horizontal" class="d-flex " style="width: 100%;">
                            <div *ngFor="let resp of this.respuestasDrag; let i = index" class="m-1" cdkDrag>
                                <div class="btn p-0 fs-5" style="max-width: 100px;">
                                    <img [src]="resp.imagen" style="width: 100%;" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="this.bloque1">
                        <div cdkDropList id="cdk-drop-list-6" [cdkDropListData]="respuestasDrop1"
                            cdkDropListOrientation="horizontal" class="d-flex example-list"
                            (cdkDropListDropped)="dropImagenes($event)">
                            <div class="example-box" *ngFor="let resp of respuestasDrop1; let i = index" cdkDrag>
                                <p class="w-100">{{this.botonesDrop[i]['texto'] }}</p>
                                <p *ngIf="!resp.imagen">Arrastre la imagen</p>
                                <img [src]="resp.imagen" class="w-100" alt="">
                            </div>
                        </div>
                    </div>

                    <div *ngIf="this.bloque2">
                        <div cdkDropList id="cdk-drop-list-7" [cdkDropListData]="respuestasDrop2"
                            cdkDropListOrientation="horizontal" class="d-flex example-list"
                            (cdkDropListDropped)="dropImagenes2($event)">
                            <div class="example-box d-flex" *ngFor="let resp of respuestasDrop2; let i = index" cdkDrag>
                                <p [ngStyle]="{ 'display': 3 > i ? 'block' : 'none'}" class="w-100">
                                    {{this.botonesDrop2[i]['texto'] }}</p>
                                <p *ngIf="i == 3" class="w-100">{{this.botonesDrop2[4]['texto'] }}</p>
                                <p *ngIf="!resp.imagen">Arrastre la imagen</p>
                                <img [src]="resp.imagen" class="w-100" alt="">
                            </div>
                        </div>
                    </div>

                    <div *ngIf="this.bloque3">
                        <div cdkDropList id="cdk-drop-list-8" [cdkDropListData]="respuestasDrop3"
                            cdkDropListOrientation="horizontal" class="d-flex example-list"
                            (cdkDropListDropped)="dropImagenes3($event)">
                            <div class="example-box d-flex" *ngFor="let resp of respuestasDrop3; let i = index" cdkDrag>
                                <p [ngStyle]="{ 'display': i==0 ? 'block' : 'none'}" class="w-100">
                                    {{this.botonesDrop3[0]['texto'] }}</p>
                                <p [ngStyle]="{ 'display': i==1 ? 'block' : 'none'}" class="w-100">
                                    {{this.botonesDrop3[2]['texto'] }}</p>
                                <p [ngStyle]="{ 'display': i==2 ? 'block' : 'none'}" class="w-100">
                                    {{this.botonesDrop3[6]['texto'] }}</p>
                                <p [ngStyle]="{ 'display': i==3 ? 'block' : 'none'}" class="w-100">
                                    {{this.botonesDrop3[7]['texto'] }}</p>
                                <p *ngIf="!resp.imagen">Arrastre la imagen</p>
                                <img [src]="resp.imagen" class="w-100" alt="">
                            </div>
                        </div>
                    </div>

                    <div *ngIf="this.bloque4">
                        <div cdkDropList id="cdk-drop-list-9" [cdkDropListData]="respuestasDrop4"
                            cdkDropListOrientation="horizontal" class="d-flex example-list"
                            (cdkDropListDropped)="dropImagenes4($event)">
                            <div class="example-box d-flex" *ngFor="let resp of respuestasDrop4; let i = index" cdkDrag>
                                <p [ngStyle]="{ 'display': 3 > i ? 'block' : 'none'}" class="w-100">
                                    {{this.botonesDrop4[i]['texto'] }}</p>
                                <p *ngIf="i == 3" class="w-100">{{this.botonesDrop4[4]['texto'] }}</p>
                                <p *ngIf="!resp.imagen">Arrastre la imagen</p>
                                <img [src]="resp.imagen" class="w-100" alt="">
                            </div>
                        </div>
                    </div>


                </section>

                <section class="mb-5">

                    <h5>4 - Seleccione cuatro respuestas gráficas para el carrusel de publicidad:</h5>

                    <div class="col-12 d-flex flex-column justify-content-center">

                        <div class="mb-2">
                            <label for="inputGroupFile01" id="labelinputGroupFile01"> Una imagen puede ser
                                personalizada, subirla en formato
                                jpg/jpeg</label>
                            <input type="file" class="form-control form-control-sm ms-2 w-50" name="file"
                                accept="image/jpeg" id="inputGroupFile01" (change)="onfileChange($event)">
                        </div>

                        <div cdkDropList id="cdk-drop-list-4" [cdkDropListData]="anunciosDrag"
                            cdkDropListOrientation="horizontal" class="d-flex mb-1"
                            style="width: 100%; max-height: 120px;">
                            <div *ngFor="let anuncio of this.anunciosDrag | slice:0:4; let i = index" cdkDrag>
                                <div class="btn p-0 fs-5" style=" width: 100%;">
                                    <img [src]="anuncio.imagen" style="width: 100%; max-height: 100px;" alt="">
                                </div>
                            </div>
                        </div>

                        <div cdkDropList id="cdk-drop-list-5" [cdkDropListData]="anunciosDrag"
                            cdkDropListOrientation="horizontal" class="d-flex " style="width: 100%;">
                            <div *ngFor="let anuncio of this.anunciosDrag | slice:4:8; let i = index" cdkDrag>
                                <div class="btn p-0 fs-5" style="max-width: 100%;">
                                    <img [src]="anuncio.imagen" style="width: 100%;" alt="">
                                </div>
                            </div>
                        </div>

                    </div>


                    <div>
                        <div class="col-12 d-flex flex-column justify-content-center">
                            <div cdkDropList id="cdk-drop-list-10" [cdkDropListData]="anunciosAuxiliarDrop"
                                cdkDropListOrientation="horizontal" class="d-flex example-list"
                                (cdkDropListDropped)="dropAnuncios($event)">
                                <div class="example-box" *ngFor="let anuncio of anunciosAuxiliarDrop; let i = index"
                                    cdkDrag>
                                    <p class="w-100"> Anuncio {{ i+1 }}</p>
                                    <p *ngIf="!anuncio.imagen">Arrastre el anuncio aquí</p>
                                    <img [src]="anuncio.imagen" class="w-100"
                                        style="max-height: 65px; object-fit: cover;" alt="">
                                </div>

                            </div>
                        </div>

                    </div>

                </section>

                <button type="button" (click)="guardar()" class="btn w-50 " id="boton-submit"
                    style="background-color: #F2F2F2; border: solid 2px gray; font-size: 13px;">Generar código
                    QR y escanear desde su teléfono móvil, o toca el código QR o el Bit.Ly en tu pantalla Touch.
                </button>

            </div>

            <div class="col-3 position-fixed top-0 mt-3" style=" max-width: 320px; z-index: 0;">


                <section class="w-100 cel ">
                    <h6 class="text-center m-0">Menú gráfico</h6>
                    <div class="w-100"
                        style="height: auto; padding: 0 10px 10px 10px; border-radius: 25px;  border: solid 3px black;">

                        <div class="w-100 text-center">
                            <img src="../../../assets/Logo_SASDA.png" alt="SAS-Digital" class="w-50">
                        </div>

                        <div *ngIf="this.sinBloque" class="marginClase"
                            style="border: solid 2px black; padding: 20px 0;">
                        </div>

                        <!-- Bloque 1 Dropable -->
                        <div *ngIf="this.bloque1" class="marginClase" style="border: solid 2px black; padding: 5px 0;">
                            <div class="d-flex flex-column align-items-center" cdkDropList id="cdk-drop-list-11"
                                [cdkDropListData]="botonesDrop" (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let boton of this.botonesDrop | slice:0:4; let i = index"
                                    style="width: 75%" class="gap-2 bloque1Drop" cdkDrag>
                                    <div [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                        class="btn w-100 p-0  mb-1 boton-rectangulo">
                                        <!-- <i [ngClass]="boton.icon" [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"></i> -->
                                        <img [src]="boton.imagen"
                                            [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                            style="width: 18px; float: left; margin-left: 20%; margin-right: 5px;"
                                            class="botones-alineados-padding" alt="">
                                        <span style="float: left;">{{boton.texto}}</span>
                                    </div>
                                </div>
                                <div *ngFor="let boton of this.botonesDrop | slice:4:8; let i = index"
                                    style="width: 75%" class="gap-2 bloque1Drop" cdkDrag>
                                    <div [ngStyle]="{'background-color': boton.bg}"
                                        class="btn w-100 mb-2 boton-rectangulo">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Bloque 2 Dropable -->
                        <div *ngIf="this.bloque2" class="d-flex flex-column align-items-center marginClase2"
                            style="border: solid 2px black; padding: 5px 0;">

                            <div class="d-flex gap-1" cdkDropListOrientation="horizontal" cdkDropList
                                id="cdk-drop-list-12" [cdkDropListData]="botonesDrop2"
                                (cdkDropListDropped)="drop2($event, 1)" style="width: 75%;">
                                <div *ngFor="let boton of this.botonesDrop2 | slice:0:3; let i = index" cdkDrag
                                    style="width: 100%;" class="text-center mb-2 position-relative">
                                    <button type="button"
                                        [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                        class="btn w-100 boton-cuadrado">
                                        <!-- <i [ngClass]="boton.icon" [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"></i> -->
                                        <img [src]="boton.imagen2"
                                            [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                            style="width: 100%;" alt="">
                                    </button>
                                    <span class="form-text position-absolute" id="primero2"
                                        style="font-size: 10px; bottom: 0; left: 0; right: 0; ">{{boton.texto}}</span>
                                </div>

                            </div>

                            <div class="mt-1 d-flex gap-1 " cdkDropListOrientation="horizontal" cdkDropList
                                id="cdk-drop-list-13" [cdkDropListData]="botonesDrop2"
                                (cdkDropListDropped)="drop2($event, 2)" style="width: 75%;">
                                <div *ngFor="let boton of this.botonesDrop2 | slice:3:6; let i = index" cdkDrag
                                    style="width: 100%" class="text-center mb-2 position-relative">
                                    <button type="button"
                                        [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                        class="btn w-100 boton-cuadrado">
                                        <img [src]="boton.imagen2"
                                            [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                            style="width: 100%;" alt="">
                                    </button>
                                    <span class="form-text position-absolute"
                                        style="font-size: 10px; bottom: 0; left: 0; right: 0;">{{boton.texto}}</span>
                                </div>
                            </div>

                            <div class="mt-1 d-flex gap-1" style="width: 75%;">
                                <div *ngFor="let boton of this.botonesDrop2 | slice:6:9; let i = index"
                                    style="width: 100%">
                                    <button type="button"
                                        [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                        class="btn w-100 boton-cuadrado">
                                    </button>
                                </div>
                            </div>

                            <div class="mt-1 d-flex gap-1" style="width: 75%;">
                                <div *ngFor="let boton of this.botonesDrop2 | slice:9:12; let i = index"
                                    style="width: 100%">
                                    <button type="button"
                                        [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                        class="btn w-100 boton-cuadrado">
                                    </button>
                                </div>
                            </div>
                        </div>



                        <!-- Bloque 3 Dropable -->
                        <div *ngIf="this.bloque3" class="marginClase clase3"
                            style="border: solid 2px black; padding: 5px 0;">

                            <div class="d-flex gap-1" cdkDropListOrientation="horizontal" cdkDropList
                                id="cdk-drop-list-14" [cdkDropListData]="botonesDrop3"
                                (cdkDropListDropped)="drop3($event, 1)" style="width: 75%; margin: 0 auto;">
                                <div *ngFor="let boton of this.botonesDrop3 | slice:0:3; let i = index" cdkDrag
                                    style="width: 100%;" class="text-center position-relative mb-2">
                                    <button type="button"
                                        [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                        class="btn w-100 fs-6 boton-cuadrado">
                                        <!-- <i [ngClass]="boton.icon" [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"></i> -->
                                        <!-- <img [src]="boton.icon" [ngStyle]="{'background-color': boton.bg, 'color': boton.color}" style="width: 80%;" alt=""> -->
                                        <img [src]="boton.imagen2"
                                            [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                            style="width: 100%;" alt="">
                                    </button>
                                    <span class="form-text position-absolute"
                                        style="font-size: 10px; bottom: 0; left: 0; right: 0; ">{{boton.texto}}</span>
                                </div>

                            </div>

                            <div class="mt-1 d-flex gap-1" style="width: 75%; margin: 0 auto;">
                                <div *ngFor="let boton of this.botonesDrop3 | slice:3:6; let i = index"
                                    style="width: 100%">
                                    <button type="button"
                                        [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                        class="btn w-100 fs-3 boton-cuadrado">
                                    </button>
                                </div>
                            </div>

                            <div class="d-flex flex-column align-items-center mt-1" cdkDropList id="cdk-drop-list-15"
                                [cdkDropListData]="botonesDrop3" (cdkDropListDropped)="drop3($event, 3)">
                                <div *ngFor="let boton of this.botonesDrop3 | slice:6:10; let i = index"
                                    style="width: 75%" class="gap-1 bloque1Drop" cdkDrag>
                                    <div [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                        class="btn w-100 p-0 fs-6 mb-2 boton-rectangulo">
                                        <!-- <i [ngClass]="boton.icon" [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"></i> -->
                                        <img [src]="boton.imagen"
                                            [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                            style="width: 18px; float: left; margin-left: 20%; margin-right: 5px;"
                                            class="botones-alineados-padding" alt="">
                                        <span style="float: left;">{{boton.texto}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Bloque 4 Dropable -->
                        <div *ngIf="this.bloque4" class="marginClase clase4"
                            style="border: solid 2px black; padding: 5px 0;">

                            <div class=" d-flex gap-1" cdkDropListOrientation="horizontal" cdkDropList
                                id="cdk-drop-list-16" [cdkDropListData]="botonesDrop4"
                                (cdkDropListDropped)="drop4($event, 1)" style="width: 75%; margin: 0 auto;">
                                <div *ngFor="let boton of this.botonesDrop4 | slice:0:3; let i = index"
                                    style=" width: 33.3%;" cdkDrag class="rectanguloVertical">
                                    <button type="button" (dblclick)="datoBoton(boton, i, $event)"
                                        [ngStyle]="{'background-color': boton.bg, 'color': boton.color }"
                                        style="font-size: 11px; " class="btn w-100 p-0 rectanguloVertical">
                                        <!-- <i [ngClass]="boton.icon" [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"></i> -->
                                        {{boton.texto}}
                                        <img [src]="boton.imagen3"
                                            [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                            style="width: 55%;" alt="">
                                    </button>
                                </div>
                            </div>

                            <div class="d-flex mt-2 gap-1" cdkDropListOrientation="horizontal" cdkDropList
                                id="cdk-drop-list-17" [cdkDropListData]="botonesDrop4"
                                (cdkDropListDropped)="drop4($event, 2)" style="width: 75%; margin: 0 auto;">
                                <div *ngFor="let boton of this.botonesDrop4 | slice:3:4; let i = index"
                                    style="width: 66.6%;" class="gap-2 rectanguloVertical">
                                    <button type="button" (dblclick)="datoBoton(boton, i, $event)"
                                        [ngStyle]="{'background-color': boton.bg, 'color': boton.color }"
                                        class="btn w-100 p-0 rectanguloVertical">
                                    </button>
                                </div>

                                <div *ngFor="let boton of this.botonesDrop4 | slice:4:5; let i = index"
                                    style="width: 33.3%;" class="gap-2 rectanguloVertical" cdkDrag>
                                    <button type="button" (dblclick)="datoBoton(boton, i, $event)"
                                        [ngStyle]="{'background-color': boton.bg, 'color': boton.color }"
                                        style="font-size: 11px;" class="btn w-100 p-0 rectanguloVertical">
                                        {{boton.texto}}
                                        <img [src]="boton.imagen3"
                                            [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                            style="width: 55%;" alt="">
                                    </button>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mt-2">
                                <div *ngFor="let boton of this.botonesDrop3 | slice:5:6; let i = index"
                                    style="width: 75%" class="gap-2 ultimoBoton3">
                                    <div [ngStyle]="{'background-color': boton.bg, 'color': boton.color}"
                                        class="btn w-100 p-0 fs-5 mb-2 boton-rectangulo-img">
                                    </div>
                                </div>
                            </div>


                        </div>


                        <!-- *ngIf="bloque1 || bloque2 || bloque3 || bloque4 || sinBloque" -->
                        <div>
                            <div id="carouselAnunciosDemo" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="4000">
                                        <img [src]="anunciosDrop[0].imagen" class="d-block w-100"
                                            style="max-height: 98px; width: 100%; object-fit: cover;" alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="4000">
                                        <img [src]="anunciosDrop[1].imagen" class="d-block w-100"
                                            style="max-height: 98px; width: 100%; object-fit: cover;" alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="4000">
                                        <img [src]="anunciosDrop[2].imagen" class="d-block w-100"
                                            style="max-height: 98px; width: 100%; object-fit: cover;" alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="4000">
                                        <img [src]="anunciosDrop[3].imagen" class="d-block w-100"
                                            style="max-height: 98px; width: 100%; object-fit: cover;" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>


                <section class="qr-box mt-1 pe-5 ps-5">
                    <div class="text-center" style="border: dotted 2px black; min-height: 140px;">
                        <qrcode *ngIf="booleanQR" [qrdata]="urlQR" [elementType]="element" [width]="140"
                            [errorCorrectionLevel]="'M'"></qrcode>
                    </div>
                    <p class="text-center"> <strong>Código QR</strong></p>
                </section>




            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Código QR del Menú gráfico</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <a *ngIf="esMovil" target="_blank" [href]="this.urlQR" (click)="navegarUrl(this.urlQR)">
                                <qrcode *ngIf="booleanQR" [qrdata]="urlQR" [elementType]="element" [width]="250"
                                    [errorCorrectionLevel]="'M'" draggable="false"></qrcode>
                            </a>
                            <qrcode *ngIf="!esMovil" [qrdata]="urlQR" [elementType]="element" [width]="250"
                                [errorCorrectionLevel]="'M'" draggable="false"></qrcode>
                            <!-- <a *ngIf="esMovil" (click)="navegarUrl(this.urlQR)">Menú gráfico IDR</a> -->
                            <a *ngIf="esMovil" (click)="navegarUrl(this.urlQR)" target="_blank" [href]="this.urlQR">Menú
                                gráfico IDR</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>

<div class="contenedor position-relative container-2 pe-3 ps-3" style="z-index:10">
    <section class="imagen-baja" style="max-width: 900px; margin: 0 auto;">
        <img src="../../../assets/escaneo.png" class="w-100" alt="Codigo QR" draggable="false">
    </section>
    <section class="imagen-baja" style="max-width: 900px; margin: 0 auto;">
        <img src="../../../assets/menu.png" class="w-100" alt="Menú IDR" draggable="false">
    </section>
</div>



<!-- Modal de video -->
<div class="modal fade" id="modalTutorial" style="z-index: 10000;" tabindex="-1" data-bs-keyboard="false"
    data-bs-backdrop="static" aria-labelledby="modalTutorialLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Video tutorial</h5>
                <button type="button" class="btn-close" (click)="reproduccionVideo(0)" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="max-width: 700px; margin: 0 auto;">
                    <video id="myVideoTutorial" src="../../../assets/Tutorial-IDR-Demo-en-linea.mp4" controls
                        class="w-100">
                    </video>
                </div>

            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>