.contenedor{
    background: linear-gradient(to right, #EBF0F9 0%, #EBF0F9 57%, white 57%, white 100%) !important;
    min-height: 100vh;
}

@media(max-width:768px){
    .row{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .col-10, .col-6{
        width: 100%;
    }

    .align-items-end{
        align-items: center!important;
    }

    picture > .me-5{
        margin-top: 10px;
        margin-right: 0!important;
    }
}

@media(max-width:400px){
    .input-group-text{
        width: 30%;
    }
}