.marginClase{
    margin: 0 auto;
    max-width: 600px;
    min-width: 300px;
}

.boton-rectangulo{
    height: 30px;
}

.boton-cuadrado{
    height: 55px;
    width: 55px;
}

.marginClase img{
    width: 80%;
}

@media(min-width:512px){
    .marginClase img{
        width: 40%;
    }
}

.boton-rectangulo-img{
    height: 100%;
  }

.carousel-inner{
    max-height: 180px;
}

img{
    object-fit: contain;
    max-height: 180px;
}

body {
    margin: 0 0 125px 0!important;
}

.botones-alineados-padding{
    padding-top: 4px;
}

@media(min-width:480px){
    .botones-alineados-padding{
      margin-left: 40%!important;
    }
}