.marginClase{
    margin: 0 auto;
    max-width: 600px;
    min-width: 180px;
}

.ilustracion{
    width: 70%;
    /* max-width: 180px; */
}

@media(min-width:540px){
    .ilustracion{
        width: 50%;
    }
}

@media(min-width:768px){
    img{
        width: 50%;
    }
}

.carousel-item img{
    object-fit: contain;
    max-height: 180px;
}

.bandera:focus{
    width: 60px;
}