/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 0!important;}
html {
    min-height: 100%;
    position: relative;
}


html {
    min-height: 100%;
    position: relative;
}

body.swal2-height-auto, body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){
    padding: 0!important;
}



/* body{
    margin: 0 0 145px 0!important;
}

@media(min-width: 540px ){
    body{
        margin: 0 0 225px 0!important;
    }
} */